.search-results {
    min-height: 300px;
    width: 100%;
}
.search-results .spinner {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}
#search-results div,
#search-results p {
    float: left;
}
#search-results li > p {
    padding-left: 20px;
}
#player-status {
    position: fixed;
    bottom: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: #333;
    height: 55;
}
#player-status #status {
    float: left;
    line-height: 45px;
    color: white;
    font-weight: 600;
    max-width: 80%;
    height: 45px;
    text-overflow: ellipsis;
}
#player-status #stop {
    height: 45px;
    max-width: 15%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#player-status #stop span {
    line-height: 45px;
}