.board {
    width: 320px;
    height: 320px;
    background: rgb(32, 32, 32);
}
.board .row {
    height: 40px;
    width: 320px;
}
.row .led {
    height: 34px;
    width: 34px;
    float: left;
    position: relative; 
    padding: 3px
}
.led .ledElement {
    position: relative;
    height: 34px;
    width: 34px;
    margin: 0;
    border-radius: 50%;
    background-color: gray;
    box-sizing: border-box;
}
.led .ledElement.active{
	background-color: red;
}
.boards .board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-160px,-160px,0);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 5px
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 5px
}
.header .send-frames {
    position: absolute;
    right: 0;
}
